# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Build information
/_build
/_docs/
/_images/
/_ignored/
/_locale/**/*.mo
/_locale/gettext/.doctrees

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Local configuration
/.project
/.vscode
